<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h1>MARS ROVER PHOTOS</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <div class="d-md-block gap-2">
        <a href="/mars-rover/curiosity" class="btn btn-primary" type="button">Curiosity</a>&nbsp;
        <a href="/mars-rover/opportunity" class="btn btn-primary" type="button">Opportunity</a>&nbsp;
        <a href="/mars-rover/spirit" class="btn btn-primary" type="button">Spirit</a>
      </div>
    </div>
  </div>
</div>
