.grid-container {
  max-width: 1280px;
  margin: auto;
}
.rovers--grid {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.pagination {
  margin-top: 25px;
}

.row {
  margin: 20px 0;
}

.no-photos {
  color: red;
}

input {
  &.is-valid {
    border: 2px solid green;
  }
  &.is-invalid {
    border: 2px solid red;
  }
}
.messages {
  opacity: 0;
  transition: all .5s ease-in;
  &.active {
    opacity: 1;
  }
  p > strong{
    color: red;
  }
}

// tablets
@media screen and (min-width: 40em) and (max-width: 63.9em){
  .rovers--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

// web
@media screen and (min-width: 64em){
  .rovers--grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}
