<div class="grid-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <h1>MARS ROVER PHOTOS: <b>{{ type | uppercase }}</b></h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Earth date: <b>{{ currentEarthDay }}</b></h3>
      </div>
      <div class="col">
        <h3>Martian sol: <b>{{ currentSol }}</b></h3>
      </div>
      <div class="col">
        <h3>Total photos: <b>{{ totalPhotos }}</b></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-3 text-rigth">
        <h3>Filter by Camera:</h3>
      </div>
      <div class="col-9">
        <select class="form-control" name="cameraFiltered" id="cameraFiltered" [(ngModel)]="cameraFiltered" (change)="filterByCamera()">
          <option  value="all">All</option>
          <option  *ngFor="let cam of cameras" [ngValue]="cam.abbreviation">[{{ cam.abbreviation }}] - {{ cam.camera }}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>
          <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isSearchCollapse"
            aria-controls="collapseExample">
            Search
          </button>
        </p>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isSearchCollapse">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="form" (ngSubmit)="search()" *ngIf="form">
                <p>
                  Earth day:
                  <input
                    [class.is-valid]="isEarthDayFieldValid"
                    [class.is-invalid]="isEarthDayFieldInvalid"
                    type="date"
                    formControlName="earthDaySearch"
                    (change)="linkEarthDateAndMartianSol('earthDay')"
                    />
                </p>
                <div class="messages" [class.active]="isEarthDayFieldInvalid">
                  <p>
                    <strong *ngIf="earthDayField?.touched && earthDayField?.hasError('required')">This field is required</strong>
                  </p>
                </div>

                <p>
                  Martian sol:
                  <input
                    [class.is-valid]="isSolDateFieldValid"
                    [class.is-invalid]="isSolDateFieldInvalid"
                    type="number"
                    min="0"
                    [max]="maxSolDate"
                    formControlName="solDateSearch"
                    (change)="linkEarthDateAndMartianSol('sol')"
                    />
                </p>
                <div class="messages" [class.active]="isSolDateFieldInvalid">
                  <p>
                    <strong *ngIf="solDateField?.touched && solDateField?.hasError('required')">This field is required</strong>
                    <strong *ngIf="solDateField?.touched && solDateField?.hasError('max')">This field shouldn't be upper than <b>m&aacute;x Sol Date ({{ maxSolDate }})</b></strong>
                    <strong *ngIf="solDateField?.touched && solDateField?.hasError('min')">This field should be higher than <b>m&iacute;x Sol Date (0)</b></strong>
                  </p>
                </div>
                <button type="submit" [disabled]="!form.valid"  class="btn btn-primary" (click)="searchRoverPhotos()">Search</button>&nbsp;
                <button type="button" class="btn btn-danger" (click)="cancelSearch()">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rovers--grid" *ngIf="roverPhoto.length > 0; else noPhotos">
    <app-rover
      [rover]="rover"
      *ngFor="let rover of roverPhoto"
    ></app-rover>
  </div>
  <ng-template #noPhotos>
    <h3 class="no-photos">No Photos available</h3>
  </ng-template>
  <div class="pagination">
    <ngb-pagination [collectionSize]="totalPhotos" [pageSize]="pageSize" [(page)]="page" size="sm" [boundaryLinks]="false" [directionLinks]="false">
      <ng-template ngbPaginationPages let-page let-pages="pages">
          <li class="ngb-custom-pages-item" *ngIf="totalPhotos > 0">
              <div class="mb-3 d-flex flex-nowrap px-2">
                <label
                    id="paginationInputLabel"
                    for="paginationInput"
                    class="col-form-label me-2 ms-1"
                >Page:&nbsp;</label>
                <input #i
                    type="text"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    class="form-control custom-pages-input"
                    id="paginationInput"
                    [value]="page"
                    (keyup.enter)="selectPage(i.value)"
                    (blur)="selectPage(i.value)"
                    (input)="formatInput($any($event).target)"
                    aria-labelledby="paginationInputLabel paginationDescription"
                    style="width: 2.5rem"
                />
                <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                    of {{pages.length}}</span>
              </div>
          </li>
      </ng-template>
    </ngb-pagination>
  </div>

</div>

