<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu">
    </button>
    <p class="project-title">
      Mars Rovers
    </p>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()">Close</button>
    <ul>
      <li><a href="/home">Home</a></li>
        <li><a href="/mars-rover/curiosity">Curiosity</a></li>
        <li><a href="/mars-rover/opportunity">Opportunity</a></li>
        <li><a href="/mars-rover/spirit">Spirit</a></li>
    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <p class="project-title">
        Mars Rovers
      </p>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/mars-rover/curiosity">Curiosity</a></li>
        <li><a href="/mars-rover/opportunity">Opportunity</a></li>
        <li><a href="/mars-rover/spirit">Spirit</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">pablo.flores86@gmail.com</div>
    </div>
  </div>
</div>
