/* Importing Google Font Quicksand. */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url(./styles/reset.scss);

* {
  font-family: 'Quicksand', sans-serif;
}
.rovers--grid {
  app-img {
    img {
      border-radius: 10px;
    }
  }
}

